<div class="displayTable">
    <div class="displayTableCell">
  
      <div class="auth-Block">
        <h3>Sign In</h3>
        <div class="formGroup">
          <input type="text" class="form-Control" placeholder="Username" #userName required>
        </div>
  
        <div class="form-Group">
          <input type="password" class="form-Control" placeholder="Password" #userPassword required>
        </div>
  
        <!-- Calling SignIn Api from AuthService -->
        <div class="form-Group">
          <input type="button" class="btn btn-Primary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>
  
        <div class="form-Group">
          <span class="or"><span class="or-Inner">Or</span></span>
        </div>
  
        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="form-Group">
          <button type="button" class="btn google-Btn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </button>
        </div>
  
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
      </div>
  
    </div>
  </div>